In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()
data = [("Divya",16),("kabiba",18),("jsdharshu",21)]
df =  spark.createDataFrame(data,["Name","Age"])
df.show()
spark.stop()

+---------+---+
|     Name|Age|
+---------+---+
|    Divya| 16|
|   kabiba| 18|
|jsdharshu| 21|
+---------+---+

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("StudentAssignment").getOrCreate()
data = [
    (1,"Sagana","Engineering",65000),
    (2,"Rabiya","marketing",58000),
    (3,"Devima","sales",52000),
    (4,"Rajesh","engineering",62000),
    (5,"Priya","engineering",68000),
]
schema = ["ID","Name","Department","Salary"]
df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()
df.filter(df["Salary"]>60000).show()
df.groupBy("Department").avg("Salary").show()
df.groupBy("Department").count().show()

+---+------+-----------+------+
| ID|  Name| Department|Salary|
+---+------+-----------+------+
|  1|Sagana|Engineering| 65000|
|  2|Rabiya|  marketing| 58000|
|  3|Devima|      sales| 52000|
|  4|Rajesh|engineering| 62000|
|  5| Priya|engineering| 68000|
+---+------+-----------+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+------+-----------+------+
| ID|  Name| Department|Salary|
+---+------+-----------+------+
|  1|Sagana|Engineering| 65000|
|  4|Rajesh|engineering| 62000|
|  5| Priya|engineering| 68000|
+---+------+-----------+------+

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|Engineering|    65000.0|
|  marketing|    58000.0|
|      sales|    52000.0|
|engineering|    65000.0|
+-----------+-----------+

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    1|
|  marketing|    1|
|      sales|    1|
|engineering|    2|
+-----------+-----+

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
df = spark.read.csv("/Volumes/aiml/default/emp_volum/employees1.csv")
df.show(150)
df.printSchema()

+-----------+-----------+-----------+--------+------------+---------+----------+------+
|        _c0|        _c1|        _c2|     _c3|         _c4|      _c5|       _c6|   _c7|
+-----------+-----------+-----------+--------+------------+---------+----------+------+
|EMPLOYEE_ID| FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|
|        198|     Donald|   OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|
|        199|    Douglas|      Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|
|        200|   Jennifer|     Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|
|        201|    Michael|  Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|
|        202|        Pat|        Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|
|        203|      Susan|     Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|
|        204|    Hermann|       Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|
|        205|    Shelley|    Higgins|SHIGGINS|515.123.8080|07-Jun-02|    AC_MGR| 12008|
|        206|    William|      Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|
|        100|     Steven|       King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|
|        101|      Neena|    Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|
|        102|        Lex|    De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|
|        103|  Alexander|     Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|
|        104|      Bruce|      Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|
|        105|      David|     Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|
|        106|      Valli|  Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|
|        107|      Diana|    Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|
|        108|      Nancy|  Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|
|        109|     Daniel|     Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|
|        110|       John|       Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|
|        111|     Ismael|    Sciarra|ISCIARRA|515.124.4369|30-Sep-05|FI_ACCOUNT|  7700|
|        112|Jose Manuel|      Urman| JMURMAN|515.124.4469|07-Mar-06|FI_ACCOUNT|  7800|
|        113|       Luis|       Popp|   LPOPP|515.124.4567|07-Dec-07|FI_ACCOUNT|  6900|
|        114|        Den|   Raphaely|DRAPHEAL|515.127.4561|07-Dec-02|    PU_MAN| 11000|
|        115|  Alexander|       Khoo|   AKHOO|515.127.4562|18-May-03|  PU_CLERK|  3100|
|        116|     Shelli|      Baida|  SBAIDA|515.127.4563|24-Dec-05|  PU_CLERK|  2900|
|        117|      Sigal|     Tobias| STOBIAS|515.127.4564|24-Jul-05|  PU_CLERK|  2800|
|        118|        Guy|     Himuro| GHIMURO|515.127.4565|15-Nov-06|  PU_CLERK|  2600|
|        119|      Karen| Colmenares|KCOLMENA|515.127.4566|10-Aug-07|  PU_CLERK|  2500|
|        120|    Matthew|      Weiss|  MWEISS|650.123.1234|18-Jul-04|    ST_MAN|  8000|
|        121|       Adam|      Fripp|  AFRIPP|650.123.2234|10-Apr-05|    ST_MAN|  8200|
|        122|      Payam|   Kaufling|PKAUFLIN|650.123.3234|01-May-03|    ST_MAN|  7900|
|        123|     Shanta|    Vollman|SVOLLMAN|650.123.4234|10-Oct-05|    ST_MAN|  6500|
|        124|      Kevin|    Mourgos|KMOURGOS|650.123.5234|16-Nov-07|    ST_MAN|  5800|
|        125|      Julia|      Nayer|  JNAYER|650.124.1214|16-Jul-05|  ST_CLERK|  3200|
|        126|      Irene|Mikkilineni|IMIKKILI|650.124.1224|28-Sep-06|  ST_CLERK|  2700|
|        127|      James|     Landry| JLANDRY|650.124.1334|14-Jan-07|  ST_CLERK|  2400|
|        128|     Steven|     Markle| SMARKLE|650.124.1434|08-Mar-08|  ST_CLERK|  2200|
|        129|      Laura|     Bissot| LBISSOT|650.124.5234|20-Aug-05|  ST_CLERK|  3300|
|        130|      Mozhe|   Atkinson|MATKINSO|650.124.6234|30-Oct-05|  ST_CLERK|  2800|
|        131|      James|     Marlow| JAMRLOW|650.124.7234|16-Feb-05|  ST_CLERK|  2500|
|        132|         TJ|      Olson| TJOLSON|650.124.8234|10-Apr-07|  ST_CLERK|  2100|
|        133|      Jason|     Mallin| JMALLIN|650.127.1934|14-Jun-04|  ST_CLERK|  3300|
|        134|    Michael|     Rogers| MROGERS|650.127.1834|26-Aug-06|  ST_CLERK|  2900|
|        135|         Ki|        Gee|    KGEE|650.127.1734|12-Dec-07|  ST_CLERK|  2400|
|        136|      Hazel| Philtanker|HPHILTAN|650.127.1634|06-Feb-08|  ST_CLERK|  2200|
|        137|     Renske|     Ladwig| RLADWIG|650.121.1234|14-Jul-03|  ST_CLERK|  3600|
|        138|    Stephen|     Stiles| SSTILES|650.121.2034|26-Oct-05|  ST_CLERK|  3200|
|        139|       John|        Seo|    JSEO|650.121.2019|12-Feb-06|  ST_CLERK|  2700|
|        140|     Joshua|      Patel|  JPATEL|650.121.1834|06-Apr-06|  ST_CLERK|  2500|
+-----------+-----------+-----------+--------+------------+---------+----------+------+

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("EmployeeDataAnalysis").getOrCreate()
df = spark.read.csv("/Volumes/aiml/default/emp_volum/employeedept1analysis.csv",header=True,inferSchema=True)
df.show()
df.printSchema()
df.groupBy("DEPARTMENT").count().show()
df.groupBy("DEPARTMENT").avg("SALARY").show()
df = df.withColumn("Bonus",df["SALARY"]*0.10)
df.show()
df.filter(df["SALARY"]>60000).show()
df.groupBy("DEPARTMENT").avg("SALARY").display()

+------+----------+-------------+------+
|EMP_ID|FIRST_NAME|   DEPARTMENT|SALARY|
+------+----------+-------------+------+
|     1|    SAGANA|  ENGINEERING| 70000|
|     2|     DIVYA|        SALES| 67500|
|     3|      KAVI|    MARKETING| 45000|
|     4|    DINESH|      SCIENCE| 36000|
|     5|   DIWAKAR|     ELECTRIC| 80000|
|     6|   PRAVEEN|COMMUNICATION| 85000|
|     7|      NISH|     LITERACY| 20000|
|     8|    YOGESH|  ENGINEERING| 48000|
|     9|    PALANI|         ARTS| 35000|
|    10|        JU|      MEDICAL|110000|
|    11|    NITHYA|       DOCTOR| 80000|
|    12|       JAI|        CIVIL| 75000|
|    13|    VIDHYA|         MECH| 65000|
+------+----------+-------------+------+

root
 |-- EMP_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- DEPARTMENT: string (nullable = true)
 |-- SALARY: integer (nullable = true)

+-------------+-----+
|   DEPARTMENT|count|
+-------------+-----+
|        CIVIL|    1|
|         MECH|    1|
|     ELECTRIC|    1|
|     LITERACY|    1|
|COMMUNICATION|    1|
|    MARKETING|    1|
|         ARTS|    1|
|       DOCTOR|    1|
|  ENGINEERING|    2|
|        SALES|    1|
|      MEDICAL|    1|
|      SCIENCE|    1|
+-------------+-----+

+-------------+-----------+
|   DEPARTMENT|avg(SALARY)|
+-------------+-----------+
|        CIVIL|    75000.0|
|         MECH|    65000.0|
|     ELECTRIC|    80000.0|
|     LITERACY|    20000.0|
|COMMUNICATION|    85000.0|
|    MARKETING|    45000.0|
|         ARTS|    35000.0|
|       DOCTOR|    80000.0|
|  ENGINEERING|    59000.0|
|        SALES|    67500.0|
|      MEDICAL|   110000.0|
|      SCIENCE|    36000.0|
+-------------+-----------+

+------+----------+-------------+------+-------+
|EMP_ID|FIRST_NAME|   DEPARTMENT|SALARY|  Bonus|
+------+----------+-------------+------+-------+
|     1|    SAGANA|  ENGINEERING| 70000| 7000.0|
|     2|     DIVYA|        SALES| 67500| 6750.0|
|     3|      KAVI|    MARKETING| 45000| 4500.0|
|     4|    DINESH|      SCIENCE| 36000| 3600.0|
|     5|   DIWAKAR|     ELECTRIC| 80000| 8000.0|
|     6|   PRAVEEN|COMMUNICATION| 85000| 8500.0|
|     7|      NISH|     LITERACY| 20000| 2000.0|
|     8|    YOGESH|  ENGINEERING| 48000| 4800.0|
|     9|    PALANI|         ARTS| 35000| 3500.0|
|    10|        JU|      MEDICAL|110000|11000.0|
|    11|    NITHYA|       DOCTOR| 80000| 8000.0|
|    12|       JAI|        CIVIL| 75000| 7500.0|
|    13|    VIDHYA|         MECH| 65000| 6500.0|
+------+----------+-------------+------+-------+

+------+----------+-------------+------+-------+
|EMP_ID|FIRST_NAME|   DEPARTMENT|SALARY|  Bonus|
+------+----------+-------------+------+-------+
|     1|    SAGANA|  ENGINEERING| 70000| 7000.0|
|     2|     DIVYA|        SALES| 67500| 6750.0|
|     5|   DIWAKAR|     ELECTRIC| 80000| 8000.0|
|     6|   PRAVEEN|COMMUNICATION| 85000| 8500.0|
|    10|        JU|      MEDICAL|110000|11000.0|
|    11|    NITHYA|       DOCTOR| 80000| 8000.0|
|    12|       JAI|        CIVIL| 75000| 7500.0|
|    13|    VIDHYA|         MECH| 65000| 6500.0|
+------+----------+-------------+------+-------+

DEPARTMENT,avg(SALARY)
CIVIL,75000.0
MECH,65000.0
ELECTRIC,80000.0
LITERACY,20000.0
COMMUNICATION,85000.0
MARKETING,45000.0
ARTS,35000.0
DOCTOR,80000.0
ENGINEERING,59000.0
SALES,67500.0
MEDICAL,110000.0
SCIENCE,36000.0